@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
  --font-Josefin: 'Josefin Sans', sans-serif;
  --font-OpenSans: 'Open Sans', sans-serif;;

  --color-white: #ffffff;
  --color-blue: #51BCD3;
  --color-black: #373D3E;
  --color-grey: #A69999;
  --color-pink: #E06ABD;
}