<footer>
    <div class="margin-element">
        <h4 class="logo">TRANSLATEL</h4>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <ul>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Legal notice</a></li>
        </ul>
    </div>

    <p class="margin-element">All rights reserved</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>
