<section class="about-us">
    <div class="margin-element">
        <div class="texts">
            <h4>About us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.

                Enim curabitur eu non diam tellus aliquet sem turpis lorem. Consequat, amet adipiscing orci eget ullamcorper gravida nec ut nisi. Duis sem vel scelerisque morbi enim id.

                <span class="mobile-img mobile-only"></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.
            </p>
            <button class="blue-button">Get acquainted</button>
        </div>

        <div class="img"><div class="img-wrap"></div></div>
    </div>
</section>