<section class="benefits">
    <h4>Our benefits</h4>

    <div class="list margin-element">
        <div>
            <div class="icon">
                <img src="img/icons/hands.png" alt="list-icon">
            </div>
            <p>Spoken or sign language</p>
            <p class="text">
                On out platform you can find professional  that are able to interpret both spoken and sign languages
            </p>
        </div>
        <div>
            <div class="icon">
                <img src="img/icons/books.png" alt="list-icon">
            </div>
            <p>Book a meeting </p>
            <p class="text">
                We will automatically find our <br>
                best matched interpreter<br>
                from our certified network
            </p>
        </div>
        <div>
            <div class="icon">
                <img src="img/icons/video.png" alt="list-icon">
            </div>
            <p>Online videosession</p>
            <p class="text">
                No need for a personally meeting.<br>
                Reduce travel costs and<br>
                CO2 emissions
            </p>
        </div>
    </div>

    <div class="list margin-element">
        <div>
            <div class="icon">
                <img src="img/icons/seciruty.png" alt="list-icon">
            </div>
            <p>Don't care about security</p>
            <p class="text">
                Everything is hosted<br>
                in Switzerland and<br>
                the communication is encrypted
            </p>
        </div>
        <div>
            <div class="icon">
                <img src="img/icons/settings.png" alt="list-icon">
            </div>
            <p>No administration & invoicing</p>
            <p class="text">
                Our platform does all the administrative <br>work for you. Search, book and pay <br>interpreters. Save your time
            </p>
        </div>
    </div>
</section>