<section class="screens">
    <div class="margin-element">
        <div class="texts">
            <h4>Easy handle your interpretion need </h4>
            <p>With Translatel you will be able to add an interpreter in Minutes to your meeting. No travelcost, no long planing and searching. All at once, fully digital. </p>
            <button class="blue-button">Start now</button>
            <img src="img/mockups.png" alt="mockups" class="mobile-only">

        </div>
        <div class="images">
            <img src="img/screens/1.png" alt="screen">
            <img src="img/screens/2.jpg" alt="screen">
            <img src="img/screens/3.png" alt="screen">
            <img src="img/screens/3.png" alt="screen">
        </div>
    </div>
</section>