<section class="slider">
    <div id="slider-img" class="img"></div>
    <div class="sl-wrap">
        <div class="slider-wrap">
            <div class="el">
                <h4>How it works</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.
                    <br><br>
                    Enim curabitur eu non diam tellus aliquet sem turpis lorem. Consequat, amet adipiscing orci eget ullamcorper gravida nec ut nisi. Duis sem vel scelerisque morbi enim id.
                    <br><br>
                    Pharetra vitae quam ut pulvinar magna iaculis ac egestas turpis. Viverra diam vitae a, pellentesque elit auctor molestie. Massa purus vitae adipiscing nulla pellentesque ipsum potenti ac, risus. </p>
            </div>
            <div class="el">
                <h4>How it works</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.
                    <br><br>
                    Enim curabitur eu non diam tellus aliquet sem turpis lorem. Consequat, amet adipiscing orci eget ullamcorper gravida nec ut nisi. Duis sem vel scelerisque morbi enim id.
                    <br><br>
                    Pharetra vitae quam ut pulvinar magna iaculis ac egestas turpis. Viverra diam vitae a, pellentesque elit auctor molestie. Massa purus vitae adipiscing nulla pellentesque ipsum potenti ac, risus. </p>
            </div>
            <div class="el">
                <h4>How it works</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.
                    <br><br>
                    Enim curabitur eu non diam tellus aliquet sem turpis lorem. Consequat, amet adipiscing orci eget ullamcorper gravida nec ut nisi. Duis sem vel scelerisque morbi enim id.
                    <br><br>
                    Pharetra vitae quam ut pulvinar magna iaculis ac egestas turpis. Viverra diam vitae a, pellentesque elit auctor molestie. Massa purus vitae adipiscing nulla pellentesque ipsum potenti ac, risus. </p>
            </div>
            <div class="el">
                <h4>How it works</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.
                    <br><br>
                    Enim curabitur eu non diam tellus aliquet sem turpis lorem. Consequat, amet adipiscing orci eget ullamcorper gravida nec ut nisi. Duis sem vel scelerisque morbi enim id.
                    <br><br>
                    Pharetra vitae quam ut pulvinar magna iaculis ac egestas turpis. Viverra diam vitae a, pellentesque elit auctor molestie. Massa purus vitae adipiscing nulla pellentesque ipsum potenti ac, risus. </p>
            </div>
            <div class="el">
                <h4>How it works</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus fames praesent netus diam at. Adipiscing vitae enim sed interdum quis sapien ullamcorper non vitae. Est, vitae, tellus malesuada sit viverra mattis augue nunc.
                    <br><br>
                    Enim curabitur eu non diam tellus aliquet sem turpis lorem. Consequat, amet adipiscing orci eget ullamcorper gravida nec ut nisi. Duis sem vel scelerisque morbi enim id.
                    <br><br>
                    Pharetra vitae quam ut pulvinar magna iaculis ac egestas turpis. Viverra diam vitae a, pellentesque elit auctor molestie. Massa purus vitae adipiscing nulla pellentesque ipsum potenti ac, risus. </p>
            </div>
        </div>
    </div>
</section>