<section class="blue-box top-info">
    <div class="margin-element content">
        <div class="texts">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Bibendum mauris sem augue ullamcorper urna eu tellus amet, sed. Bibendum mauris sem augue ullamcorper urna eu tellus amet, sed. </p>
            <button class="blue-button">Find the Interpreter</button>
        </div>

        <div class="images">
            <div class="img">
                <img src="img/man.png" alt="man">

                <div class="circles"><div>Übersetzung</div></div>
                <div class="circles"><div>interpreting</div></div>
                <div class="circles"><div>通訳</div></div>

                <div class="rows">
                    <div class="box">
                        <p class="date">
                            <span>Apr</span>
                            28
                            <span>Wed</span>
                        </p>
                        <div class="data">
                            <p>Albanian - German Interpreter  <span>10 : 15 AM</span></p>
                            <p class="text">Meeting with the Swiss Central Hospital is planned for today.</p>
                            <img src="img/icons/bell.svg" alt="bell">
                        </div>
                    </div>
                    <div class="small-box">
                        <p class="date">
                            <span>Apr</span>
                            28
                            <span>Wed</span>
                        </p>
                        <div class="data">
                            <p>Albanian - German Interpreter  <span>10 : 15 AM</span></p>
                            <p class="text">Meeting with the Swiss Central Hospital is planned for today.</p>
                            <img src="img/icons/bell.svg" alt="bell">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>